body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: antiquewhite;
}

/* @media only screen and (min-width: 1000px) {
  #leftcol {
    background-color: red;
    height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  #leftcol {
    background-color: blue;
    height: 5vh;
  }
} */
