.education {
  padding: 5px 5px 5px 5px;
}

.education-details {
  font-size: 30px;
  font-weight: 600;
  padding: 15px 15px 15px 0px;
}

.institution {
  font-weight: 600;
}

.institution-details {
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  .education {
    margin: 15px;
  }
}
