.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  /* text-align: center; */
  flex: 100%;
}

.header {
  flex: 100%;
  background-color: #fff;
}

.objective {
  align-items: center;
}

.footer {
  flex: 100%;
  background-color: #fff;
}

.flex-item-left {
  background-color: #fff;
  padding: 10px;
  flex: 30%;
}

.flex-item-center {
  background-color: #fff;
  padding: 0px;
  flex: 70%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 25%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .header {
    text-align: center;
  }

  .education {
    margin: 5px;
  }
}
