.objective-field {
  padding: 15px 10px 5px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 6px 15px 15px 0px;
}

.objective-skillset {
  /* padding: 5px 10px 5px; */
  text-align: center;
}

.skill-list {
  margin: 0px;
  padding: 0;
  font-size: 20px;
}

.skill-list > li {
  list-style-type: none;
}

.skillset-container {
  /* background-color: rgb(68, 176, 238); */
}
