.container {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}

.work-experience-title {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding: 15px 15px 15px 0px;
}

.start-end-dates {
  font-weight: 500;
  justify-content: flex-end;
  width: 100%;
}

.company {
  display: flex;
  /* justify-content: space-between; */
}

.company-name {
  font-weight: 600;
  min-width: 30%;
}

.position-name {
  font-weight: 600;
  min-width: 30%;
}

.work-dates {
  font-weight: 600;
  text-align: right;
  min-width: 30%;
}

.job-description > li {
  padding-bottom: 10px;
}

.description {
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  .work-experience-title {
    text-align: center;
  }

  .company {
    display: flex;
    flex-direction: column;
  }

  .company-name {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 5px;
  }

  .position-name {
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
  }

  .work-dates {
    font-weight: 600;
    text-align: center;
  }
}
